body, html {
    margin : 0;
    padding : 0;
    color: whitesmoke;      
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

body a {
  text-decoration: none;
  color: inherit;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: fill;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.8);
  }

  #social {
    position: fixed;
    top: 40%;
    left: 0;
    z-index:1;
  }

  #nav {
    position: fixed;
    top: 40%;
    right: 0;
    z-index:1;
    /* float: right; */
  }

  #social:hover, #nav:hover {
    z-index:3;
  }
  
  .socialIcons, .navIcons {
    /* background-color: blue; */
    background-color: transparent;
    padding: 10px 5px;
    margin: 10px 0;
    transition: all 1s;
    
    border-radius: 5px;
   
  }
 
  svg {

    height: 30px;
    width: 30px;
    vertical-align: middle;
    padding-left: 10px;
   /* float: right; */    
  }

  #nav svg {
    fill:white !important;
  }

  #linkedin{
    /* background-color: blue; */
    width: 130px;
    transform: translateX(-90px);
    border: 2px solid blue;
  }

  
  #email {
    width: 240px;
    /* background-color: tomato; */
    transform: translateX(-200px);
    border: 2px solid tomato;
    
  }

  #call{
    width: 200px;
    /* background-color: goldenrod; */
    transform: translateX(-160px);
    border: 2px solid goldenrod;
    

  }

  .socialIcons:hover {
    background-color: black !important;
    transform: translateX(-3px) !important;
    /* color: black; */
    font-weight: bold;
  }

  .navIcons:hover{
    background-color: black !important;
    transform: translateX(0) !important;
    /* color: black; */
    font-weight: bold;
  }


  #skillsIcon {
    float: right !important;
    width: 120px;
    transform: translateX(80px);
    border: 2px solid blue;
  }

  #projectsIcon {
    float: right !important;
    width: 140px;
    transform: translateX(100px);
    border: 2px solid tomato;
    }

  #contactFormIcon{
    float: right !important;
    width: 220px;
    /* background-color: goldenrod; */
    transform: translateX(180px);
    border: 2px solid goldenrod;
    

  }







  .landingPage {
      width: 100%;
      height:100%;
      /* background-color: rgba(0,0,0,0.8); */
      /* overflow: hidden; */
    
  }
  
  .section {
    width: 100%;
  }

    .content-centered {

        display: flex;
        
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }



  
    h1 {

        font-size:4.5rem;
        font-weight: 100;
        margin: 2%;
    }

    h3 {
        font-size : 1.5rem;
        font-weight: 100;    
    }

    #buttonContainer {
        margin : 4%;
        display: flex;
        width: 250px;
        flex-direction: row;
        justify-content: space-between;
        /* flex-wrap: wrap; */

    }

    #buttonContainer button {
        
        background: none;
        color: whitesmoke;      
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
          border-radius:2em;
        box-sizing: border-box;
        transition: all 1s;	    
    }

    .landingPage button {

      height: 40px;
      width: 100px;

    }

    .landingPage button:hover {
        background-color: black;
        cursor: pointer;
        /* height: 50px; */
        width: 110px;
        /* height: 100px; */
        border-color: rgb(255, 136, 0);
        
    }

    /* **************************Arrow *******************************/



  #arrow {
    /* background-color: blue; */
    position: absolute;
    top : 80%;
    width: 24px;
    height: 24px;
    display: none;

   }


  .chevron {
    position: relative;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: rgb(255, 136, 0);
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(60px);
    }
    67% {
      opacity: 1;
      transform: translateY(80px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }


/* ****************************************************************************** */
   
/* ************************* Seperator *********************** */
.seperator {
  margin:0;
  position: relative;
  height: 100px;
  width: 100%;
  background:  rgba(0,0,0,0.5);

  

}


.seperator h1 {
  margin:0;
  padding:0;
  font-size: 2rem;
  font-weight: 100;
  color: whitesmoke;
  z-index: 1;

}
.seperator h3 {
  margin:0;
  font-size : 1rem;
  color:grey;
  z-index:1;
}


/* ******************Skills Page ***************************** */

.boxContainer {
  /* background-color: blue;   */
  margin-top: 5%;
  flex-direction: row;
  flex-wrap: wrap;
}



/* ************************** End Flip Box ******************* */


.full-size, .flip-box .object, .flip-box .front, .flip-box .back {
  width: 100%;
  height: 100%;
}

.slice, .flip-box .front, .flip-box .back, .flip-box .flank {
  display: block;
  overflow: hidden;
  position: absolute;
}

.flip-box {
  float: left;
  display: block;
  /* position: relative; */
  z-index: 2;
  width: 180px;
  height: 300px;
  /* min-width: 150px;
  min-height: 250px; */
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
  margin: 2%;
}
.flip-box .object {
  position: absolute;
  animation-fill-mode: forwards;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-75px);
  -moz-transform: translateZ(-75px);
  -ms-transform: translateZ(-75px);
  -o-transform: translateZ(-75px);
  transform: translateZ(-75px);
}
.flip-box .object:hover, .flip-box .object:focus {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: translateZ(-75px) rotateY(180deg);
  -moz-transform: translateZ(-75px) rotateY(180deg);
  -ms-transform: translateZ(-75px) rotateY(180deg);
  -o-transform: translateZ(-75px) rotateY(180deg);
  transform: translateZ(-75px) rotateY(180deg);
  
}
.flip-box .front {
  z-index: 1;
  /* background-color: #789e13; */
  /* background-color: rgb(71, 108, 163); */
  /* background-color: rgb(0, 0, 0,0.7)#001f3f; */
  /* background-color: #001f3f;
  */
  /* background-image: url("cardsBg.jpg"); */
  /* background-color: #272727; */
  
  background-color: rgba(0,0,0,0.8);
  border: 2px solid blue;
  border-radius: 5%;
  -webkit-transform: rotateY(0deg) translateZ(75px);
  -moz-transform: rotateY(0deg) translateZ(75px);
  -ms-transform: rotateY(0deg) translateZ(75px);
  -o-transform: rotateY(0deg) translateZ(75px);
  transform: rotateY(0deg) translateZ(75px);
  /* border: 2px #272727 ridge;  */
}
.flip-box .back {
  z-index: 0;
  background-color: black;
  border: 2px solid goldenrod;
   border-radius: 5%;
  -webkit-transform: rotateY(180deg) translateZ(75px);
  -moz-transform: rotateY(180deg) translateZ(75px);
  -ms-transform: rotateY(180deg) translateZ(75px);
  -o-transform: rotateY(180deg) translateZ(75px);
  transform: rotateY(180deg) translateZ(75px);
  /* border: 2px #272727 ridge; */
}
.flip-box .flank {
  width: 150px;
  height: 200px;
  left: 75px;
  /* background-color: #55700e; */
  background-color: transparent;
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) translateZ(150px);
  -ms-transform: rotateY(-90deg) translateZ(150px);
  -o-transform: rotateY(-90deg) translateZ(150px);
  transform: rotateY(-90deg) translateZ(150px);
}
.flip-box.flip-up .object:hover, .flip-box.flip-up .object:focus {
  -webkit-transform: translateZ(-75px) rotateX(180deg);
  -moz-transform: translateZ(-75px) rotateX(180deg);
  -ms-transform: translateZ(-75px) rotateX(180deg);
  -o-transform: translateZ(-75px) rotateX(180deg);
  transform: translateZ(-75px) rotateX(180deg);
}
.flip-box.flip-up .back {
  -webkit-transform: rotateX(180deg) translateZ(75px);
  -moz-transform: rotateX(180deg) translateZ(75px);
  -ms-transform: rotateX(180deg) translateZ(75px);
  -o-transform: rotateX(180deg) translateZ(75px);
  transform: rotateX(180deg) translateZ(75px);
}
.flip-box.flip-up .flank {
  width: 300px;
  height: 150px;
  left: 0;
  top: 25px;
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) translateZ(100px);
  -o-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
}
.flip-box.alternative .front {
  /* background-color: rgba(256,256,256, 0.5); */
  /* background-color: rgb(5, 125, 159,0.7); */
  /* background-color: rgb (0,0,0,0.7); */
  /* background-color: #C2b9B0; */
  background-color: rgba(0,0,0,.8);
  border: 2px solid green;
  border-radius: 5%;

  
    
}

.flip-box.third .front {
  background-color: rgba(0,0,0,.8);
  border: 2px solid yellow;
  border-radius: 5%;
}

.flip-box.fourth .front {
  background-color: rgba(0,0,0,.8);
  border: 2px solid blueviolet;
  border-radius: 5%;
  }

  .flip-box.fifth .front {
    background-color: rgba(0,0,0,.8);
    border: 2px solid red;
    border-radius: 5%;

    } 


.flip-box.alternative .back {
  /* background-color: #bd27a9; */
  /* background-color: black; */
}
.flip-box.alternative .flank {
  /* background-color: #69155d; */
  /* background-color: transparent; */
}

.no-csstransforms3d .flip-box .object {
  position: relative;
  overflow: hidden;
  -webkit-transform-style: none;
  -moz-transform-style: none;
  -ms-transform-style: none;
  -o-transform-style: none;
  transform-style: none;
}
.no-csstransforms3d .flip-box .object .back {
  top: 300px;
  z-index: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.no-csstransforms3d .flip-box .object:hover .back {
  top: 0;
  z-index: 1;
}
.no-csstransforms3d .flip-box .flank {
  display: none;
}

/* Internet Explorer 10 only */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .object {
    position: relative;
    overflow: hidden;
    transform: none !important;
  }
  .object .back {
    top: 300px;
    z-index: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  .object:hover .back {
    top: 0;
    z-index: 1;
    transform: rotateY(0deg) translateZ(0);
  }
}

/* .flip-content {
  white-space: nowrap;
} */
.star {
  color:gold;
  /* font-size: small; */
  
}


/* ************************** End Flip Box ******************* */
#pipeline {
  flex-direction: row;
  margin-bottom: 50px;
  margin-top: 100px;
}

#pipelineSkills{
  z-index:-1;
  font-weight: bolder;
  transform: translateX(-460px);
  transition: all ease-in 3s;
}

#pipeline:hover #pipelineSkills{
transform: translateX(0);


}

.spanSkill {
  border: 3px ridge tomato;
  padding: 3px;
  margin-right: 20px;
}

/* ********************************Project Section ************************* */

.projectsContainer {
  flex-direction: row;
  flex-wrap: wrap;
}

.projectBox {
  color: white;
  width: 300px;
  height:200px;
  margin:5% 1% 2% 1%;
  box-sizing: border-box;
  border-radius: 10px;
  flex-direction: row;
  overflow: hidden;
  border: 2px ridge white;
  transition: all 2s;
  }

.projectBox:hover {
  border: 2px ridge coral;

}


.projectBox:hover {
  z-index:3;
}

.projectInner{
  width: 600px;
  height:200px;
  flex-direction: row;
  transition: all 1s ease-in-out;
}

.projectBox:hover .projectInner{
  transform: translateX(-300px);
}

.projectTitle{

  background-size: cover;
  background-position: center;
  height: 200px;
  width:300px;

}

.projectTitle h3{
  color: white;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.projectDetails {
 
  background-color: rgba(0,0,0,.5);
  width:300px;
  height:200px;
  color: whitesmoke;
  font-weight: bold;
}

.projectDetails h3 {
  font-weight: bolder;
}

.projectDetails h3 , .projectDetails h4, .projectDetails p {
  margin:10px;
}

.projectDetails p {
  text-align: center;
}

.projectButtons{
  margin-top:10px;
}

.projectButtons a{
  text-decoration: none;
}

.projectDetails button {
  color: whitesmoke;
  width: 100px;
  background-color: transparent;
  font-weight: bolder;
  border-color: white;
  cursor: pointer;
}

.projectDetails button:hover {
  border-color: coral;
}


/* *****************************COntact Form ************************/

.highlight {
  color: rgb(255, 136, 0);
  
}

#contactForm {

  margin: 5%;

}


  #formElements {
    margin :  5%;
    padding: 5%;
    display :grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, 1fr) 4fr 2fr;
    row-gap: 20px;
    column-gap: 20px;
    overflow: hidden;
    
    
  }

  #formElements:hover {
    background-color: rgba(0,0,0,.8);
  }
  label {
    font-size: 1.5rem;
    align-self: center;
  }

  input, textarea {
    font-size: 1.2rem;
    padding: 5px;
    /* text-align: center; */
    Background: none;
    border-color: transparent;
    border-bottom-color: gray;
    color: White;
    
  }

  


  textarea:focus, input:focus {
    outline: none;
    /* background-color: black;
    border: 1px solid goldenrod;     */
  }

  input[type=submit] {
    /* background-color: #4CAF50; */
    background-color:transparent;
    border-color: rgb(255, 136, 0);
    color: white;
    /* border: none; */
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    justify-self: end; 
    transition: all 1s; 
  }

  input[type=submit]:hover {
    color: black;
    background-color: rgb(255, 136, 0);
  }


  

  

/* ***********************Responsive to sscreen******************** */

@media screen and (max-width : 979px) {
  
  .bigScreenOnly {
    
    display :none
  
  }

  .smallScreenOnly {
    display: flex !important;
  }

}

nav {
  display: none;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 50px;
  left:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: grey; */
  z-index: 7;
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  /* border-top: 2px solid white;
  border-bottom: 5px ridge white; */
}

.navItem {
  margin-left: 1em;
}

.navItem svg {
  align-self: center;
  width: 35px;
  height: 35px;
}

#navLinkedIn {
  color: rgb(6, 101, 255);
  /* background-color: white; */
}

#navEmail {
  color: tomato;
}

#navPhone {
  color: rgb(255, 255, 0);
 
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  transform: translate(-130px , -40px);
   z-index: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


#menuButton {

  display:none;
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  padding: 26px 11px;
  z-index: 7;
  cursor: pointer;
  user-select: none;
}

#menuButton span , #menuButton span:before, #menuButton span:after  {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: white;
  position: relative;
  display: block;
  transition: all .2s ease-in-out;
  /* margin: 5px; */
}

#menuButton span:before {
  content: "";
  top: -15px;

}

#menuButton span:after {
  content: "";
  top: 10px;

}

#mobileMenu {
  position: fixed;
  z-index: 6;
  height: 100vh;
  width: 100vw;
  /* color: tomato; */
  color: whitesmoke;
  font-weight: bold;
  background-color: black;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

#mobileMenu ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mobileMenu li{
  list-style-type: none;
  text-decoration: none;
  margin: 15px;
  font-size: 1.5rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #mobileMenu {
  display: flex;
}

input[type=checkbox]:checked ~ #menuButton span {

  background: transparent;

}

input[type=checkbox]:checked ~ #menuButton span:before {
 
  transform: rotate(45deg) translate(7px, 12px);
  opacity: 1;
  width:45px;
  background-color: tomato;
}

input[type=checkbox]:checked ~ #menuButton span:after {
 
  transform: rotate(-45deg) translate(7px, -12px);
  opacity: 1;
  width:45px;
  background-color: tomato;


}
/* #menuButton span::before{
  top: -10px;
  visibility: visible;
} */





